@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

.App {
  font-family: "Inter";
  background-color: black;
  color: white;
  height: 100vh;
  display: "inline-block";
  width: "100%";
}

.MuiInput-underline:after {
  border-bottom: 2px solid #fff !important;
}
.MuiInput-underline:before {
  border-bottom: 2px solid #fff !important;
}

/* .css-yyy811-MuiInputBase-root-MuiInput-root:hover {
  border-bottom: 2px solid #fff !important;
} */
